@{
    Layout = Layout;
}

<!DOCTYPE html>


<body>
<div>
      <div class="container-fluid pt-5">
        <div class="row justify-content-center"> 
          <div class="mb-4 col-lg-8">
            <h4 class="font-weight-semi-bold mb-4 " align="center">Добавление элемента</h4>
            <form asp-action="CreateLink" asp-controller="Link" method="post" class="form-group shadow-sm rounded p-4 mx-auto" style="max-width: 500px;">
              <div class="mb-3">
                <label for="url" class="form-label">URl</label>
                <input type="text" class="form-control" name="url">
              </div>
              <button type="submit" class="btn btn-block btn-primary my-3 py-3 align-middle" >Сохранить</button>
            </form>
          </div>
        </div>
        </div>
</div>
</body>