@model IEnumerable<TestTask.Models.Link>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @{
        if (Model.Count() != 0)
        {
            @foreach (var link in Model)
            {
                <h1>@link.LongUrl</h1>
            }
        }
        else
        {
            <h1>Ничего не найдено</h1>
        }
    }
    
</div>
</body>
</html>