@model Link

@{
    Layout = Layout;
}

<body>
<div>
      <div class="container-fluid pt-5">
        <div class="row justify-content-center"> 
          <div class="mb-4 col-lg-8">
            <h4 class="font-weight-semi-bold mb-4 " align="center">Редактирование</h4>
            <form asp-action="UpdateLink" asp-controller="Link" method="post" class="form-group shadow-sm rounded p-4 mx-auto" style="max-width: 500px;">
              <input type="hidden" asp-for="@Model.Id" value="@Model.Id">
              <div class="mb-3">
                <label asp-for="LongUrl" class="form-label">URl</label>
                <input type="text" class="form-control" asp-for="LongUrl">
              </div>
              <div class="mb-3">
                <label asp-for="Count" class="form-label">Количество переходов по короткому url </label>
                <input type="number" class="form-control" asp-for="Count">
              </div>
              <div class="mb-3">
                <label asp-for="CreatedDate" class="form-label">Дата создания</label>
                <input type="date" class="form-control" asp-for="CreatedDate">
              </div>
              <button type="submit" class="btn btn-block btn-primary my-3 py-3 align-middle">Сохранить</button>
            </form>
          </div>
        </div>
        </div>
</div>
</body>